.ContentEditable-container {
    padding-left: 46px;
    padding-right: 46px;
    display: block;
    position: relative;
}

.ContentEditable-root {
    border: 0;
    font-size: 15px;
    outline: 0;
}

/* FIX: Target the container, not the root element */
@media (max-width: 1025px) {
    .ContentEditable-container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.ContentEditable-placeholder {
    font-size: 15px;
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
    left: 46px;
    top: 0px;
}

@media (max-width: 1025px) {
    .ContentEditable-placeholder {
        left: 8px;
        right: 8px;
    }
}